$icomoon-font-family: "vehicle-tracking" !default;
$icomoon-font-path: "fonts" !default;

$icon-approve: unquote('"\\e900"');
$icon-arrow_down: unquote('"\\e901"');
$icon-arrow-up: unquote('"\\e902"');
$icon-close: unquote('"\\e904"');
$icon-email: unquote('"\\e905"');
$icon-hidden: unquote('"\\e906"');
$icon-info: unquote('"\\e907"');
$icon-next: unquote('"\\e908"');
$icon-notification: unquote('"\\e909"');
$icon-password: unquote('"\\e90a"');
$icon-phone: unquote('"\\e90b"');
$icon-prew: unquote('"\\e90c"');
$icon-reject: unquote('"\\e90d"');
$icon-reject-request: unquote('"\\e90e"');
$icon-successfull: unquote('"\\e90f"');
$icon-user: unquote('"\\e910"');
$icon-verify_email: unquote('"\\e911"');
$icon-visible: unquote('"\\e912"');
$icon-profile-thumb-path1: unquote('"\\e913"');
$icon-profile-thumb-path2: unquote('"\\e914"');
$icon-profile-thumb-path3: unquote('"\\e915"');
$icon-profile-thumb-path4: unquote('"\\e916"');

